.main_header {
    font: normal normal normal 55px/1.4em futura-lt-w01-light,sans-serif;
    color: #BC9B5D;
    text-align: center;
    letter-spacing: 0.2em;
    margin-bottom: 0;
    background: #f9f8f8;
}